body {
  margin: 0;
  padding: 0;
  background: #777;
  font-family: 'Courier New', 'Microsoft YaHei';
  font-size: 90%;
}
#contentWrapDIV {
  margin: 0 auto;
  position: relative;
  width: 1000px;
  padding: 20px;
  color: #fff;
  text-shadow: 1px 1px 1px #379;
  overflow: hidden;
}
#contentWrapDIV a {
  color: #000;
  text-shadow: 1px 1px 1px #fff;
  text-decoration: none;
  font-style: italic;
  font-weight: bold;
}
#contentWrapDIV a:hover {
  text-decoration: underline;
}
#contentWrapDIV pre {
  background: #272822;
  font-family: inherit;
}
#contentWrapDIV pre code {
  font-family: inherit;
}
#contentWrapDIV textarea {
  background: #272822;
  color: #fff;
  height: 250px;
  width: 100%;
  resize: none;
  box-sizing: border-box;
  margin-bottom: 15px;
  font-family: inherit;
  padding: 14px;
}
#contentWrapDIV table {
  border-collapse: collapse;
  width: 100%;
  font-size: 13px;
  background: #ddd;
  color: #233233;
  text-shadow: 1px 1px 1px #fff;
  border-collapse: collapse;
}
#contentWrapDIV table thead {
  background: #bbb;
}
#contentWrapDIV table td,
#contentWrapDIV table th {
  border: 1px solid #aaa;
  padding: 5px;
  vertical-align: middle;
}
#contentWrapDIV #headDIV h1 {
  margin-bottom: 0;
}
#contentWrapDIV #headDIV h4 {
  margin: 0;
}
#contentWrapDIV #headDIV h5 {
  margin-top: 10px;
}
#contentWrapDIV #menuUL {
  list-style: none;
  margin: 10px 0 0 0;
  padding: 0;
  overflow: hidden;
}
#contentWrapDIV #menuUL li {
  float: left;
  padding: 5px 20px;
  margin: 0 10px;
  cursor: pointer;
  background: #888;
  box-shadow: 1px 1px 1px #000;
}
#contentWrapDIV #menuUL li h2 {
  margin: 10px 0;
}
#contentWrapDIV #menuUL li:hover,
#contentWrapDIV #menuUL li.current {
  background: #555;
}
#contentWrapDIV #contentDIV {
  width: 200%;
  overflow: hidden;
}
#contentWrapDIV #contentDIV > div {
  border-top: 2px solid #aaa;
  border-bottom: 2px solid #aaa;
  float: left;
  width: 50%;
  min-height: 400px;
  padding-bottom: 10px;
  +padding-top: 20px;
}
#contentWrapDIV #contentDIV > div h2 {
  color: #000;
  text-shadow: 1px 1px 1px #fff;
}
#contentWrapDIV #contentDIV > div p {
  line-height: 25px;
}
#contentWrapDIV #footDIV div {
  float: right;
}
#contentWrapDIV #footDIV div a {
  display: block;
}
#contentWrapDIV #footDIV div a img {
  border: none;
}
#contentWrapDIV #footDIV h4 {
  margin-bottom: 0;
}
#contentWrapDIV #footDIV h5 {
  margin-top: 10px;
}
.textRight {
  text-align: right;
}
.hidden {
  display: none;
}
.pre {
  white-space: pre-wrap;
  +white-space: pre;
  +word-wrap: break-word;
}
